
<body class="show">


<div class="box"   style = "background:rgba(0,0,0,0.0);"" >





<p id="notice"><%= notice %></p>


<button><%= link_to 'Main Menu', games_path, method: :get %></button>
<% if @game.name != "" %>

<p>
  <h1> Loaded: <%= @game.name %></h1>
  <br/>
</p>
 <h1> Autosaving </h1>
 <br/>
<% else %>
<button><%= link_to 'Save As', edit_game_path(@game) %></button>

  
<% end %>


</div>



<br/>

<h1 style=" text-align:center;margin:30px 0;font-size:35px;color:cyan;" >Connect Four!</h1>
<div>
<br/>
<p style=" text-align:center;margin:30px 0;font-size:22px;color:cyan;" > Simply click a white egg to place your piece. </p>

<p style=" text-align:center;margin:30px 0;font-size:22px;color:cyan;" > You go first and play Yellow Circles, then the enemy AI plays Red.</p>


<br />
</div>

<div class = "moveleft">

</div>

<style>
table, tr, td {
    border: 5px solid blue;
  
    
}


td {
    background-color: blue;
  
}
</style>




<table style=" position: relative; top: 40px;">
    <% @row = (0..6)%>
    <% @col = (0..6)%>
    <% @row.each do |current_row| %>
        <tr>
            <% @col.each do |current_col| %>   
            <td>
          <!-- make sure piece can tell which player has what piece (0 empty, 1 is player 1, 2 is player 2) -->
           <% current_piece = Piece.find_by(player_id: current_player.id, game_id: @game.id ,y: current_row  , x: current_col).identity%>

           <% if current_piece == 0%>
              <% shown = "col-sm-5 egg" %>
              <% disable = false%>
           <% elsif current_piece == 1 %>
              <% shown = "col-sm-5 circle" %>
              <% disable = true%>
           <% elsif current_piece == 2 %>
              <% shown = "col-sm-5 cross" %>
              <% disable = true%>
           <% end %>
           <!-- press any botton and have it drop down. game controller? -->
           <%= button_to( "", piece_path( player_id: current_player.id, game_id:  @game.id, y: current_row , x: current_col ), method: :put, id: "g" +( (@row.last+1)*current_row + current_col + 1 ).to_s, class: shown, disabled: disable, :onclick => "ifWin(7,7);") %>


            </td>

            <% end %>
        </tr>
    <% end %>
</table>
<br></br>
<br></br>
<!-- TODO: get winning conditions and shut down game if win-->
<script >
  ifWin(7,7)
</script>

</body>


 



<!-- <button onclick=" stackUp(this,num1,num2); ifWin(track,1, num1, num2); "> </button> -->
