<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @game.player_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
