<script>




</script>


<!--  -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @game.player_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>




<!-- Displays game to play -->






<body>
<h1>Connect Four!</h1>
<div>
<p> Simply click a white egg to place your piece. You go first and play Green Circles, then the enemy AI plays Red ones. Good Luck :)</p>
<p> Note: Only bottom open white eggs can be moved to.</p>
<br>
</div>

<div class = "moveleft">

</div>

<style>
table, tr, td {
    border: 5px solid black;
    padding: 15px;
}
table {
    border-spacing: 5px;

}
</style>




<table style=" position: relative; top: 40px;">
    <% @row = (0..4)%>
    <% @col = (0..4)%>
    <% @row.each do |current_row| %>
        <tr>
            <% @col.each do |current_col| %>   
            <td>
          <!-- make sure piece can tell which player has what piece (0 empty, 1 is player 1, 2 is player 2) -->
           <%= current_piece = Piece.find_by(player_id: current_player.id, game_id: @game.id ,y: current_row  , x: current_col).identity%>

           <% if current_piece == 0%>
              <% shown = "col-sm-5 egg" %>
              <% disable = false%>
           <% elsif current_piece == 1 %>
              <% shown = "col-sm-5 circle" %>
              <% disable = true%>
           <% elsif current_piece == 2 %>
              <% shown = "col-sm-5 cross" %>
              <% disable = true%>
           <% end %>

           <%= button_to( "", game_path(@game, player_id: current_player.id, game_id:  @game.id, y: current_row , x: current_col ), method: :put, class: shown, disabled: disable) %>

            </td>

            <% end %>
        </tr>
    <% end %>
</table>
<br></br>
<br></br>
<!-- TODO: put identity into controller to work succefully -->

<%= @game.track %>
</body>


<!-- <h1>Updating game</h1> -->

<!-- change state of game here? -->

<%# controller.redirect_to game_path %>
